
										.board {
											margin: 100px auto 100px auto;
											width: 1000px;
										}

										img {
											width: 200px;
											height: 200px;
											border: 0px;
											margin: -50px 0px 0px 0px;
											float: left;
										}

										.cell1 {
											margin-left: 200px;
										}

										.cell4 {
											margin-left: 100px;
											clear: both;
										}

										.cell8 {
											clear: both;
										}

										.cell13 {
											margin-left: 100px;
											clear: both;
										}

										.cell17 {
											margin-left: 200px;
											clear: both;
										}
								